{% unless template == 'index' or template == 'list-collections' %}
<nav class="north-breadcrumb" aria-label="breadcrumbs">
  <a href="{{ routes.root_url }}" title="{{ 'general.misc.home' | t | escape }}">{{ 'general.misc.home' | t }}</a>
  {% if collection.url %}
		<i>/</i>
		<a href="{{ routes.all_products_collection_url }}" title="{{ 'general.misc.shop' | t | escape }}">{{ 'general.misc.shop' | t }}</a>
    <i>/</i>
    {{ collection.title }}
  {% endif %}
	{% if template contains 'cart' %}
    <i>/</i>
    {{ 'cart.general.title' | t }}
  {% endif %}
  {% if template contains 'product' %}
    <i>/</i>
    {{ product.title }}
  {% endif %}
  {% if template contains 'blog' %}
		{% if current_tags %}
			<i>/</i>
	    <a href="{{ blog.url }}" title="{{ blog.title | escape }}">{{ blog.title }}</a>
			<i>/</i>
			{{ current_tags }}
		{% else %}
			<i>/</i>
			{{ blog.title }}
		{% endif %}
  {% endif %}
	{% if template contains 'article' %}
    <i>/</i>
    <a href="{{ blog.url }}" title="{{ blog.title | escape }}">{{ blog.title }}</a>
    <i>/</i>
    {{ article.title }}
  {% endif %}
  {% if template contains 'page' %}
    <i>/</i>
    {{ page.title }}
  {% endif %}
	{% if template contains 'search' %}
    <i>/</i>
    {{ 'search.title' | t }}
  {% endif %}
	{% if template contains 'customers' %}
    <i>/</i>
    {{ 'my_account.title' | t }}
  {% endif %}
</nav>
{% endunless %}
