{%- liquid
	assign featured_media = product.featured_media

	if featured_media.media_type != 'image'
		assign featured_media = featured_media.preview_image
	endif

	assign sizes = '320x320,640x640,960x960'
	assign ratio = 1
  if settings.image_ratio == 'portrait'
    assign sizes = '320x390,640x780,960x1170'
		assign ratio = 0.82
  elsif settings.image_ratio == 'adapt'
    assign sizes = '320x0,640x0,960x0'
		if featured_media
			assign ratio = featured_media.aspect_ratio
		endif
  endif

-%}
<product-card class="product {{ grid_item_width | strip_newlines }} thb-listing-{{ settings.products_style | escape }} columns {{ animation | escape }}"  {{ block.shopify_attributes }}>
  <figure class="product_thumbnail{% if settings.products_hover_image %} thb_hover{% endif %}" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
    {%- render 'product-badge', product: product -%}
    <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
      {%- if settings.products_hover_image -%}
        {%- if product.images.size > 1 -%}
        <span class="product_thumbnail_hover">
          {%- render 'responsive-image', image: product.images[1], sizes: sizes -%}
        </span>
        {%- endif -%}
      {% endif %}
			{%- if featured_media -%}
      	{%- render 'responsive-image', image: featured_media, sizes: sizes -%}
			{%- else -%}
				<div class="thb-placeholder">
					{{ 'product-1' | placeholder_svg_tag }}
				</div>
			{% endif %}
    </a>
    {%- if settings.enable_quick_view -%}
      <quick-view class="product-card--add-to-cart-button button white mini" data-product-handle="{{ product.handle }}" tabindex="-1">
        <span class="loading-overlay">{% render 'svg-icons' with 'thb-loading' %}</span>
        <span class="product-card--add-to-cart-text">{{ 'products.product.select_options' | t }}</span>
      </quick-view>
    {%- endif -%}
  </figure>
	{%- if settings.show_products_vendor -%}
    <div class="product-vendor">{{- product.vendor -}}</div>
  {%- endif -%}
  <h3><a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">{{ product.title }}</a></h3>
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  <div class="product_after_title">
    <div class="product_after_shop_loop_price">
       {% render 'product-price', product: product %}
    </div>
    {% comment %} {%- if settings.enable_quick_add -%}
    <div class="product_after_shop_loop_buttons">
      <a href="{{ product.url | within: collection }}" class="add_to_cart_button{% if product.variants.size == 1 and product.available %} product-card--add-to-cart-button-simple{% endif %}{% unless product.available %} outofstock{% endunless %}" data-id="{{ current_variant.id }}" data-product-id="{{ product.selected_or_first_available_variant.id }}">
        {%- if product.available -%}
          {%- if product.metafields.theme.preorder -%}
            {{ 'products.product.pre_order' | t }}
          {%- elsif product.variants.size == 1 %}
            {{ 'products.product.add_to_cart' | t }}
          {% else %}
            {{ 'products.product.select_options' | t }}
          {% endif %}
        {%- else -%}
          {{ 'products.product.out_of_stock' | t }}
        {%- endif -%}
      </a>
    </div>
    {%- endif -%} {% endcomment %}
    <div>
      <a href="{{ product.url | within: collection }}" class="add_to_cart_button{% if product.variants.size == 1 and product.available %} product-card--add-to-cart-button-simple{% endif %}{% unless product.available %} outofstock{% endunless %}" data-id="{{ current_variant.id }}" data-product-id="{{ product.selected_or_first_available_variant.id }}">
        {%- if product.available -%}
          {%- if product.metafields.theme.preorder -%}
            {{ 'products.product.pre_order' | t }}
          {%- elsif product.variants.size == 1 %}
            {{ 'products.product.add_to_cart' | t }}
          {% else %}
            {{ 'products.product.select_options' | t }}
          {% endif %}
        {%- else -%}
          {{ 'products.product.out_of_stock' | t }}
        {%- endif -%}
      </a>
    </div>
  </div>
	{%- if settings.show_products_rating and product.metafields.reviews.rating.value != blank -%}
	  {%- assign rating = product.metafields.reviews.rating.value.rating | divided_by: product.metafields.reviews.rating.value.scale_max | times: 100 | append: '%' -%}
    <div class="star-rating-container">
      <div class="star-rating" role="img">
        <span aria-hidden="true" style="width: {{ rating | escape }};"></span>
      </div>
    </div>
  {%- endif -%}
</product-card>
