{% if settings.social_facebook_link != blank %}
<a href="{{ settings.social_facebook_link }}" class="social facebook" target="_blank" rel="noreferrer" title="Facebook"><i class="thb-icon-facebook"></i></a>
{% endif %}
{% if settings.social_twitter_link != blank %}
<a href="{{ settings.social_twitter_link }}" class="social twitter" target="_blank" rel="noreferrer" title="Twitter"><i class="thb-icon-twitter"></i></a>
{% endif %}
{% if settings.social_instagram_link != blank %}
<a href="{{ settings.social_instagram_link }}" class="social instagram" target="_blank" rel="noreferrer" title="Instagram"><i class="thb-icon-instagram"></i></a>
{% endif %}
{% if settings.social_pinterest_link != blank %}
<a href="{{ settings.social_pinterest_link }}" class="social pinterest" target="_blank" rel="noreferrer" title="Pinterest"><i class="thb-icon-pinterest"></i></a>
{% endif %}
{% if settings.social_tiktok_link != blank %}
<a href="{{ settings.social_tiktok_link }}" class="social tiktok" target="_blank" rel="noreferrer" title="TikTok"><i class="thb-icon-tiktok"></i></a>
{% endif %}
{% if settings.social_youtube_link != blank %}
<a href="{{ settings.social_youtube_link }}" class="social youtube" target="_blank" rel="noreferrer" title="YouTube"><i class="thb-icon-youtube"></i></a>
{% endif %}
{% if settings.social_vimeo_link != blank %}
<a href="{{ settings.social_vimeo_link }}" class="social vimeo" target="_blank" rel="noreferrer" title="Vimeo"><i class="thb-icon-vimeo"></i></a>
{% endif %}
{% if settings.social_linkedin_link != blank %}
<a href="{{ settings.social_linkedin_link }}" class="social linkedin" target="_blank" rel="noreferrer" title="LinkedIn"><i class="thb-icon-linkedin"></i></a>
{% endif %}
