{{ 'hotspot.css' | asset_url | stylesheet_tag }}
<div id="section-hotspot-slideshow-{{ section.id }}" class="section-margin{% if section.settings.disable_top_spacing %} section-no-top-margin{% endif %}{% if section.settings.disable_bottom_spacing %} section-no-bottom-margin{% endif %}">
	<div class="row">
	  <div class="small-12 columns">
	    <hotspot-slideshow class="thb-hotspot-wrapper">
	      <div class="row no-padding">
	        <div class="small-12 medium-6 columns">
	          <div class="thb-hotspot-container hover">
	            {% if section.settings.image %}
	              {% assign small_width = section.settings.image.src.height | times: '640' | divided_by: section.settings.image.src.width %}
	              {% assign master_width = section.settings.image.src.width | append: 'x' | append: section.settings.image.src.height %}
	              {% assign sizes = '640x' | append: small_width | append: ',' | append: master_width %}
	              {% render 'responsive-image', image: section.settings.image, sizes: sizes %}
							{% else %}
								{{ 'image' | placeholder_svg_tag }}
	            {% endif %}
	            {% assign counter = 0 %}
	            {% for block in section.blocks %}
		            <button class="thb-hotspot pin-white animation scale {% if forloop.index == 1 %}active{% endif %}" style="left: {{- block.settings.x_position | append: '%' -}}; top: {{- block.settings.y_position | append: '%' -}};">
		              {% assign counter = counter | plus: 1 %}
		              <div class="thb-hotspot-content thb-pulsate">{{ counter }}</div>
		            </button>
	            {% endfor %}
	          </div>
				  </div>
	        <div class="small-12 medium-6 columns thb-hotspots-products">
	          <slide-show class="thb-hotspots-products-carousel products static-dots" data-autoplay="false" data-dots="true">
	            {% for block in section.blocks %}
                <div class="carousel__slide">
                  {% assign product = all_products[block.settings.product_handle] %}
                  {% unless product == empty %}
                    {% render 'product-card' product: product, grid_item_width: 'small-12', block: block %}
                  {% else %}
                    {% liquid
                      assign index = forloop.index | modulo: 6 | plus: 1
                      assign placeholder_size = '100'
                      if settings.image_ratio == 'portrait'
                        assign placeholder_size = '120'
                      elsif settings.image_ratio == 'adapt'
                        assign placeholder_size = '100'
                      endif
                    %}
                    <product-card class="product small-12 thb-listing-{{ settings.products_style | escape }}" {{ block.shopify_attributes }}>
                      <figure class="product_thumbnail" style="--ratio-percent: {{ placeholder_size }}%;">
                        <a href="#">
                          <div class="thb-placeholder">
                            {{ 'product-' | append: index | placeholder_svg_tag }}
                          </div>
                        </a>
                      </figure>
                      <h3><a href="#" title="{{ 'general.misc.your_product_name' | t | escape }}">{{ 'general.misc.your_product_name' | t }}</a></h3>
                      <div class="product_after_title">
                        <div class="product_after_shop_loop_price">
                          <span class="price"><span class="amount">$186.00</span></span>
                        </div>
                        <div class="product_after_shop_loop_buttons">
                          <a href="#" class="add_to_cart_button">
                            {{ 'products.product.out_of_stock' | t }}
                          </a>
                        </div>
                      </div>
                    </product-card>
                  {% endunless %}
                </div>
	            {% endfor %}
	          </slide-show>
	        </div>
	      </div>
	    </hotspot-slideshow>
	  </div>
	</div>

	{% style %}
		{% if section.settings.bg_color %}
	    #section-hotspot-slideshow-{{ section.id }} .thb-hotspot-wrapper {
	      background: {{ section.settings.bg_color }};
	    }
	  {% endif %}
  {% endstyle %}
  <script src="{{ 'slideshow.min.js' | asset_url }}" defer="defer"></script>
	<script src="{{ 'hotspot.min.js' | asset_url }}" defer="defer"></script>
</div>
{% schema %}
{
    "name":"Hotspot slideshow",
    "settings":[
        {
            "type":"paragraph",
            "content":"Learn more about how to set up the [hotspot slideshow section](https://documentation.fuelthemes.net/kb/hotspot-slideshow/)"
        },
        {
            "type":"image_picker",
            "id":"image",
            "label":"Image",
            "info":"1340 x 1200 px .jpg recommended."
        },
        {
            "type":"color",
            "id":"bg_color",
            "label":"Background",
            "default":"#fbf8f7"
        },
        {
            "type":"header",
            "content":"Spacing"
        },
        {
            "type":"checkbox",
            "id":"disable_top_spacing",
            "default":false,
            "label":"Remove top spacing"
        },
        {
            "type":"checkbox",
            "id":"disable_bottom_spacing",
            "default":false,
            "label":"Remove bottom spacing"
        }
    ],
    "blocks":[
        {
            "type":"product",
            "name":"Product",
            "settings":[
                {
                    "type":"product",
                    "id":"product_handle",
                    "label":"Product",
                    "info":"Select product"
                },
                {
                    "type":"header",
                    "content":"Position"
                },
                {
                    "type":"range",
                    "id":"x_position",
                    "min":0,
                    "max":100,
                    "step":1,
                    "unit":"%",
                    "label":"Horizontal",
                    "default":20,
                    "info":"Horizontal position of the hot spot"
                },
                {
                    "type":"range",
                    "id":"y_position",
                    "min":0,
                    "max":100,
                    "step":1,
                    "unit":"%",
                    "label":"Vertical",
                    "default":20,
                    "info":"Vertical position of the hot spot"
                }
            ]
        }
    ],
    "presets":[
        {
            "name":"Hotspot slideshow",
            "blocks":[
                {
                    "type":"product"
                }
            ]
        }
    ]
}
{% endschema %}
