{{ 'password.css' | asset_url | stylesheet_tag }}
<div class="password-page-logo">
	{%- if section.settings.logo -%}
    <img
      src="{{ section.settings.logo | image_url: width: 500, height: 500 }}"
      class="password-logo"
      alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
      style="max-height: {{ section.settings.logo_max_height }}px"
      width="{{ section.settings.logo_max_width }}"
      height="{{ section.settings.logo_max_width | divided_by: section.settings.logo.aspect_ratio }}"
      loading="lazy"
    >
  {%- else -%}
    <h1>{{ shop.name }}</h1>
  {%- endif -%}
</div>
{% if section.settings.login_link == true %}
	<modal-opener
		class="password-login-link__opener no-js-hidden"
		data-modal="#password-page-login"
	>
		<button
			id="quick_search"
			class="password-login-link__button"
			type="button"
			aria-haspopup="dialog"
		>
			{% render 'svg-icons' with 'thb-lock' %} {{ 'general.password_page.enter_using_password' | t }}
		</button>
	</modal-opener>
	<a href="#password-page-login" class="password-login-link__button no-js" target="_blank">
		{% render 'svg-icons' with 'thb-lock' %} {{ 'general.password_page.enter_using_password' | t }}
	</a>
{% endif %}
<div class="row max_width align-center password-section">
  <div class="small-12 medium-8 large-6 columns text-center">
    <h1>{{ 'general.password_page.title' | t }}</h1>
    {% if shop.password_message and shop.password_message != blank %}
      <p>{{ shop.password_message }}</p>
    {% endif %}
    {% if section.settings.subscription_form == true %}
    <div class="thb_subscribe thb_password_page_subscribe">
      {% form 'customer', class: 'newsletter-form' %}
				{% capture form_errors %}
					{% if form.errors %}
					<div class="form-notification error" id="Newsletter-error--{{ section.id }}">
						{{ form.errors | default_errors }}
					</div>
					{% endif %}
				{% endcapture %}
				{% capture form_success %}
					{%- if form.posted_successfully? -%}
						<div class="form-notification success" id="Newsletter-success--{{ section.id }}">{{ 'subscribe.success' | t }}</div>
					{%- endif -%}
				{% endcapture %}
				<fieldset>
	        <input id="contact_tags" name="contact[tags]" type="hidden" value="prospect,newsletter" />
					<input
						placeholder="{{ 'general.password_page.placeholder' | t }}"
						type="email"
						id="contact_email"
						name="contact[email]"
						class="widget_subscribe large"
						aria-required="true"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
						{% if form.errors %}
							autofocus
							aria-invalid="true"
							aria-describedby="Newsletter-error--{{ section.id }}"
						{% elsif form.posted_successfully? %}
							aria-describedby="Newsletter-success--{{ section.id }}"
						{% endif %}
						required
					>
	        <input type="submit" name="submit" class="widget_subscribe_btn" value="{{ 'general.password_page.submit' | t | escape }}">
				</fieldset>
      {% endform %}
			{{ form_success }}
			{{ form_errors }}
			<p class="powered_by_link">{{ powered_by_link }}</p>
    </div>
    {% endif %}
  </div>
</div>
{% if section.settings.login_link == true %}
<modal-dialog id="password-page-login" class="password-login-link">
  <div
		role="dialog"
		aria-modal="true"
		class="search-modal__content"
		tabindex="-1"
	>
		<button
			id="ModalClose-search"
			type="button"
			class="search-modal__toggle"
			aria-label="{{ 'general.close' | t }}"
		>
			{% render 'svg-icons' with 'thb-close' %}
		</button>
		<div class="thb-close-text">{{ 'search.esc' | t }}</div>
		<div class="row align-center">
			<div class="small-12 medium-8 columns text-center">
				<h3>{{ 'general.password_page.enter_store_using_password' | t }}</h3>
				{% form 'storefront_password' %}
					<fieldset>
						<input
							class="password_field"
							type="password"
							name="password"
							id="Password"
							autocomplete="current-password"
							{% if form.errors %}
								aria-invalid="true"
								aria-describedby="PasswordLoginForm-password-error"
							{%- endif -%}
						/>
						<input class="btn" name="commit" type="submit" value="{{ 'general.password_page.submit' | t | escape }}" />
					</fieldset>
					{% if form.errors %}
					<div class="form-notification error" id="PasswordLoginForm-password-error">
						{{ form.errors | default_errors }}
					</div>
					{% endif %}
				{% endform %}
				<p>{{ 'general.password_page.are_you_the_store_owner' | t }} <a href="/admin">{{ 'general.password_page.log_in_here' | t }}</a></p>
			</div>
		</div>
	</div>
</modal-dialog>
{% endif %}
{% schema %}
  {
    "name": "Password page",
    "settings": [
			{
				"type": "image_picker",
				"id": "logo",
				"label": "Logo image"
			},
			{
				"type": "range",
				"id": "logo_max_height",
				"min": 20,
				"max": 120,
				"step": 1,
				"default": 30,
				"unit": "px",
				"label": "Custom logo height"
			},
			{
				"type": "header",
				"content": "Content"
			},
      {
         "type": "checkbox",
         "id": "subscription_form",
         "default": true,
         "label": "Display newsletter form",
				 "info": "Each email subscription creates a customer account. [Learn more](https://help.shopify.com/en/manual/customers)"
      },
      {
         "type": "checkbox",
         "id": "login_link",
         "default": true,
         "label": "Display login link"
      }
    ]
  }

{% endschema %}
