{{ 'myaccount.css' | asset_url | stylesheet_tag }}
<div class="row align-center" style="width: 100%;">
	<div class="small-12 medium-6 large-4 columns">
	  <login-form class="thb-overflow-container">
			<ul class="login-page-form">
				<li><a href="#" class="active">{{ 'my_account.reset' | t }}</a></li>
			</ul>
	    <div class="thb-form-container no-register">
	      <div class="thb-login-form">
	        {% form 'reset_customer_password' %}
						{% if form.errors %}
						<div class="form-notification error">
							{{ form.errors | default_errors }}
						</div>
						{% endif %}
	          <div class="form-row">
	            <label for="password">{{ 'my_account.password' | t }}</label>
	            <input type="password" value="" name="customer[password]" size="16" />
	          </div>
	          <div class="form-row">
	            <label for="password_confirmation">{{ 'my_account.password_confirmation' | t }}</label>
	            <input type="password" value="" name="customer[password_confirmation]" size="16" />
	          </div>
	          <div class="form-row">
	            <input type="submit" value="{{ 'my_account.reset' | t | escape }}" />
	          </div>
	        {% endform %}
	      </div>
	    </div>
	  </login-form>
	</div>
</div>
<script src="{{ 'login-form.min.js' | asset_url }}" defer="defer"></script>