{{ 'myaccount.css' | asset_url | stylesheet_tag }}
{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
{{ 'customer.min.js' | asset_url | script_tag }}
{% style %}
	.address-index {
		font-family: {{ settings.heading_font.family }};
	}
{% endstyle %}
<div class="page-padding has-bottom-padding">
	<div class="thb-page-title">
		<div class="row">
			<div class="small-12 columns">
				{% render 'breadcrumbs' %}
		    <h1 class="thb-shop-title">{{ 'my_account.title' | t }}</h1>
				<p>
					<a href="{{ routes.account_url }}" title="{{ 'my_account.return' | t | escape }}" class="myaccount-link">
						{% render 'svg-icons' with 'thb-back' %}
		      	{{ 'my_account.return' | t }}
		    	</a>
				</p>
			</div>
		</div>
	</div>
  <div class="row">
    <div class="small-12 columns customer-addresses" data-customer-addresses>
			<div data-address>
				<button
					type="button"
					aria-expanded="false"
					aria-controls="AddAddress"
					class="button add-new-adress"
				>
				
					{{ 'my_account.addresses.add_new' | t }}
				</button>
				<div id="AddAddress">
					{%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
					<div class="row">
						<div class="small-12 medium-6 columns field">
							<label for="AddressFirstNameNew">{{ 'my_account.addresses.first_name' | t }}</label>
							<input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'my_account.addresses.first_name' | t }}" class="full">
						</div>
						<div class="small-12 medium-6 columns field">
							<label for="AddressLastNameNew">{{ 'my_account.addresses.last_name' | t }}</label>
							<input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'my_account.addresses.last_name' | t }}" class="full">
						</div>
						<div class="small-12 columns field">
							<label for="AddressCompanyNew">{{ 'my_account.addresses.company' | t }}</label>
							<input type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'my_account.addresses.company' | t }}" class="full">
						</div>
						<div class="small-12 medium-6 columns field">
							<label for="AddressAddress1New">{{ 'my_account.addresses.address1' | t }}</label>
							<input type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'my_account.addresses.address1' | t }}" class="full">
						</div>
						<div class="small-12 medium-6 columns field">
							<label for="AddressAddress2New">{{ 'my_account.addresses.address2' | t }}</label>
							<input type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'my_account.addresses.address2' | t }}" class="full">
						</div>
						<div class="small-12 medium-6 columns field">
							<label for="AddressCityNew">{{ 'my_account.addresses.city' | t }}</label>
							<input type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'my_account.addresses.city' | t }}" class="full">
						</div>
						<div class="small-12 medium-6 columns field">
							<label for="AddressCountryNew">{{ 'my_account.addresses.country' | t }}</label>
							<select
								id="AddressCountryNew"
								name="address[country]"
								data-default="{{ form.country }}"
								autocomplete="country"
								class="full"
							>
								{{ all_country_option_tags }}
							</select>
						</div>
						<div id="AddressProvinceContainerNew" class="small-12 medium-6 columns field" style="display: none">
							<label for="AddressProvinceNew">{{ 'my_account.addresses.province' | t }}</label>
							<select
								id="AddressProvinceNew"
								name="address[province]"
								data-default="{{ form.province }}"
								autocomplete="address-level1"
								class="full"
							>
							</select>
						</div>
						<div class="small-12 medium-6 columns field">
							<label for="AddressZipNew">{{ 'my_account.addresses.zip' | t }}</label>
							<input type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'my_account.addresses.zip' | t }}" class="full">
						</div>
						<div class="small-12 medium-6 columns field">
							<label for="AddressPhoneNew">{{ 'my_account.addresses.phone' | t }}</label>
							<input type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'my_account.addresses.phone' | t }}" class="full">
						</div>
						<div class="small-12 columns field">
							{{ form.set_as_default_checkbox }}
							<label for="address_default_address_new">{{ 'my_account.addresses.set_default' | t }}</label>
						</div>
						<div class="small-12 columns">
							<button class="button small">{{ 'my_account.addresses.add' | t }}</button>
							<button class="button small alt" type="reset">{{ 'my_account.addresses.cancel' | t }}</button>
						</div>
					</div>
					{%- endform -%}
				</div>
			</div>
			<h4 class="addresses-title">{{ 'my_account.addresses.title' | t }}</h4>
      {%- for address in customer.addresses -%}
			<div class="my-address" data-address>
				<span class="address-index">{{ forloop.index }}</span>
				{%- if address == customer.default_address -%}
          <span class="address-default">{{ 'my_account.addresses.default' | t }}</span>
        {%- endif -%}
				<address>
					{{ address | format_address }}
				</address>
				<button
					type="button"
					class="button small"
					id="EditFormButton_{{ address.id }}"
					aria-label="{{ 'my_account.addresses.edit_address' | t }} {{ forloop.index }}"
					aria-controls="EditAddress_{{ address.id }}"
					aria-expanded="false"
					data-address-id="{{ address.id }}"
				>
					{{ 'my_account.addresses.edit' | t }}
				</button>
				<button
					class="button alt small"
					type="button"
					aria-label="{{ 'my_account.addresses.delete' | t }} {{ forloop.index }}"
					data-target="{{ address.url }}"
					data-confirm-message="{{ 'my_account.addresses.delete_confirm' | t }}"
				>
					{{ 'my_account.addresses.delete' | t }}
				</button>
				<div id="EditAddress_{{ address.id }}" class="edit-address">
					{%- form 'customer_address', address -%}
					<div class="row low-padding">
						<div class="small-12 medium-6 columns field">
							<label for="AddressFirstName_{{ form.id }}">{{ 'my_account.addresses.first_name' | t }}</label>
							<input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'my_account.addresses.first_name' | t }}" class="full">
						</div>
						<div class="small-12 medium-6 columns field">
							<label for="AddressLastName_{{ form.id }}">{{ 'my_account.addresses.last_name' | t }}</label>
							<input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'my_account.addresses.last_name' | t }}" class="full">
						</div>
						<div class="small-12 columns field">
							<label for="AddressCompany_{{ form.id }}">{{ 'my_account.addresses.company' | t }}</label>
							<input type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'my_account.addresses.company' | t }}" class="full">
						</div>
						<div class="small-12 medium-6 columns field">
							<label for="AddressAddress1_{{ form.id }}">{{ 'my_account.addresses.address1' | t }}</label>
							<input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'my_account.addresses.address1' | t }}" class="full">
						</div>
						<div class="small-12 medium-6 columns field">
							<label for="AddressAddress2_{{ form.id }}">{{ 'my_account.addresses.address2' | t }}</label>
							<input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'my_account.addresses.address2' | t }}" class="full">
						</div>
						<div class="small-12 medium-6 columns field">
							<label for="AddressCity_{{ form.id }}">{{ 'my_account.addresses.city' | t }}</label>
							<input type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'my_account.addresses.city' | t }}" class="full">
						</div>
						<div class="small-12 medium-6 columns field">
							<label for="AddressCountry_{{ form.id }}">
								{{ 'my_account.addresses.country' | t }}
							</label>
							<select
								id="AddressCountry_{{ form.id }}"
								name="address[country]"
								data-address-country-select
								data-default="{{ form.country }}"
								data-form-id="{{ form.id }}"
								autocomplete="country"
								class="full"
							>
								{{ all_country_option_tags }}
							</select>
						</div>
						<div class="small-12 medium-6 columns field" id="AddressProvinceContainer_{{ form.id }}" style="display:none;">
							<label for="AddressProvince_{{ form.id }}">
								{{ 'my_account.addresses.province' | t }}
							</label>
							<select
								id="AddressProvince_{{ form.id }}"
								name="address[province]"
								data-default="{{ form.province }}"
								autocomplete="address-level1"
								class="full"
							>
							</select>
						</div>
						<div class="small-12 medium-6 columns field">
							<label for="AddressZip_{{ form.id }}">{{ 'my_account.addresses.zip' | t }}</label>
							<input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'my_account.addresses.zip' | t }}" class="full">
						</div>
						<div class="small-12 medium-6 columns field">
							<label for="AddressPhone_{{ form.id }}">{{ 'my_account.addresses.phone' | t }}</label>
							<input type="tel" id="AddressPhone_{{ form.id }}"  name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'my_account.addresses.phone' | t }}" class="full">
						</div>
						<div class="small-12 columns field">
							{{ form.set_as_default_checkbox }}
							<label for="address_default_address_{{ form.id }}">
								{{ 'my_account.addresses.set_default' | t }}
							</label>
						</div>
						<div class="small-12 columns">
							<button class="button small">{{ 'my_account.addresses.update' | t }}</button>
							<button class="button small alt" type="reset">{{ 'my_account.addresses.cancel' | t }}</button>
						</div>
					</div>
					{%- endform -%}
				</div>
			</div>
      {%- endfor -%}
		</div>
	</div>
</div>
